/ExpressTruffle/*
/Petshop/*
/ExpressTest/*
/MongoDB/*
/ExpressWebpack/node_modules/*
/ExpressWebpack/.vscode/*
/ExpressWebpack/build/*
/ExpressDemo/node_modules/*
/ExpressDemo/*
/backup/*
/BlockBusiness/node_modules/*
/BlockBusiness/build/*
/BlockBusiness/vscode/*