<!DOCTYPE html>
<html lang="en">

<head>
  <title>Products</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="N-Air Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"
  />
  <script type="application/x-javascript">
    addEventListener("load", function() {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>
  <meta charset utf="8">
  <!--fonts-->
  <link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>

  <!--fonts-->
  <!--form-css-->
  <link href="css/form.css" rel="stylesheet" type="text/css" media="all" />
  <!--bootstrap-->
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <!--coustom css-->
  <link href="css/style.css" rel="stylesheet" type="text/css" />
  <!--shop-kart-js-->
  <script src="js/simpleCart.min.js"></script>
  <!--default-js-->
  <script src="js/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="js/jquery-3.1.0.min.js"></script>
  <script type="text/javascript" src="/javascripts/allJSforProduct.js"></script>

  <!-- jquery-validation -->
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
  <script src="/javascripts/addProductValidation.js"></script>

  <!--bootstrap-js-->
  <script src="js/bootstrap.min.js"></script>
  <!--script-->
  <!-- FlexSlider -->
  <script src="js/imagezoom.js"></script>
  <script defer src="js/jquery.flexslider.js"></script>
  <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />

  <script>
    // Can also be used with $(document).ready()
    $(window).load(function() {
      $('.flexslider').flexslider({
        animation: "slide",
        controlNav: "thumbnails"
      });
    });
  </script>
  <!-- //FlexSlider-->
</head>

<body>
  <%include header.ejs%>


    <div class="head-bread">
      <div class="container">
        <ol class="breadcrumb">
          <li><a href="/index">Home</a></li>
          <li class="active">Add Product</li>
        </ol>
      </div>
    </div>

    <!-- contact -->
    <div class="contact">
      <div class="container">
        <h3>Add PRODUCT image</h3>
        <div class="contact-content">

          <!--1. upload pic using ajax-->
          <form name="addPic" id="addPic" class="form-inline" enctype='multipart/form-data' method='post' action='javascript:;'>

          <!--<form id="addPic" class="form-inline" enctype='multipart/form-data' method='post' action='javascript:;'>-->
            <input name="choose" type="file" id="choose" required="required" class="form-control" value="upload product image"/>
            <!--<button onclick="handle()" class="form-inline">upload</button>-->
            <input onclick="handleUpload()" class="btn btn-default cont-btn form-inline" type="submit" value="Upload" />


            <!--<img id="newPic" class="newImg" width="200" height="200"/>-->
          </form>
          <!--2. add product info-->
          <form name="addProduct" id="addProduct" class="form-horizontal" method='get' action='javascript:;'>
            <img name="newPic" id="newPic" class="newImg" width="200" height="200" />

            <h3>Product Name : </h3>
            <!--<input name="productName" id="productName" required="required" type="text" class="textbox" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Product Name';}">-->
            <input name="productName" id="productName" required="required" type="text" class="textbox" value=""  onblur="if (this.value == '') {this.value = 'Product Name';}">

            <h3>Price : </h3><input name="productPrice" id="productPrice" required="required" type="number" min="0" class="textbox" value="0"  onblur="if (this.value == '') {this.value = 'Price';}"><br>

            <h3>Product Description : </h3><textarea name="productInfo" id="productInfo" required="required" value=""  onblur="if (this.value == '') {this.value = 'Product description ';}"></textarea><br>


            <div class="submit">
              <input onclick="addProdcut()" class="btn btn-default cont-btn" type="submit" value="ADD " />
              <p id="addSuccess" class="addResult"></p>
            </div>
          </form>
        </div>
      </div>
    </div>




    <!--5. foot start -->
    <%include footer.ejs%>

</body>

</html>
