
<div class="clearfix"></div>
  <div class="copy-rt">
    <!--<div class="logo">-->
    <div class="footer">
    <br class="container">
    <!--<span>Copyright &copy; 2018. Block Business</span></br>-->
    <a href="/contact"><span>Copyright &copy; 2018. Block Business</span> Contact us</a>
  </div>
    <!--<span>Copyright &copy; 2018. Block Business</span></br>-->
  </div>
