<!--1. header start-->
<div class="header">
  <div class="container">
    <div class="header-top">
      <div class="logo">
        <a href="/index">N-AIR</a>
      </div>
      <div class="login-bars">
        <a class="btn btn-default log-bar" href="/register" role="button">Sign up</a>
        <a class="btn btn-default log-bar" href="/signup" role="button">Login</a>
        <div class="cart box_1">
          <a href="/checkout">
            <h3>
                            <div class="total">
                                <span class="simpleCart_total"></span>(<span id="simpleCart_quantity" class="simpleCart_quantity"></span>)</div></h3>
          </a>
          <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--1. header end-->
