<!--2. @yuli加search框 start -->
<div class="sub-news">
  <div class="container">
    <form>
      <!--<h3>Search</h3>-->
      <input type="text" class="sub-email" value="" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'search';}">
      <a class="btn btn-default subs-btn" href="#" role="button">Search</a>
    </form>
  </div>
</div>
