
<div class="clearfix"></div>


<div>
  <div class="copy-rt">
    <br class="container">
    <span>Copyright &copy; 2018. Block Business</span></br>
    <span>All rights reserved.<a href="/contact"> Contact us</a></span>
  </div>
</div>
</div>
