.eth {
    max-width: 25%;
    height: auto;
    padding-bottom: 8px; 
    padding-left: 10px;
}

.eth_small {
    max-width: 30%;
    height: auto;
    
}

.main {
    text-align: center; /*让div内部文字居中*/
    background-color: #ccccc5;
    border-radius: 20px;
    width: 850px;
    height: 450px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}

.middle {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 100px;
    
}