<!--<!DOCTYPE html>-->
<html lang="en">
<head>
  <title>Checkout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="N-Air Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
  <script type="application/x-javascript"> addEventListener("load", function() {setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <meta charset utf="8">
  <!--fonts-->
  <link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>

  <!--fonts-->
  <!--bootstrap-->
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <!--coustom css-->
  <link href="css/style.css" rel="stylesheet" type="text/css"/>
  <!--shop-kart-js-->
  <script src="js/simpleCart.min.js"></script>
  <!--default-js-->
  <script src="js/jquery-2.1.4.min.js"></script>
  <!--bootstrap-js-->
  <script src="js/bootstrap.min.js"></script>
  <!--script-->

  <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
  <!-- FlexSlider -->
  <script src="js/imagezoom.js"></script>
  <script defer src="js/jquery.flexslider.js"></script>
  <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
  <script type="text/javascript" src="javascripts/register.js"></script>

</head>
<body>
<%include header.ejs%>
<div class="head-bread">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="/index">Home</a></li>
      <li><a href="/register">LOGIN</a></li>
      <li class="active">REGISTER</li>
    </ol>
  </div>
</div>
<!-- reg-form -->
<div class="reg-form">
  <div class="container">
    <div class="reg">
      <h3>Register Now</h3>
      <p>Welcome, please enter the following details to continue.</p>
      <p>If you have previously registered with us, <a href="#">click here</a></p>
      <form id="signUpForm">
        <ul>
          <li class="text-info">Enter Name: </li>
          <li><input name="rej_name" type="text" value="firstNameTest" required/></li>
        </ul>
        <ul>
          <li class="text-info">Enter Email: </li>
          <li><input name="rej_email" type="text" value="test@gmail.com"></li>
        </ul>
        <ul>
          <li class="text-info">Enter Address: </li>
          <li><input name="rej_address" type="text" value="Kingsford 2032"></li>
        </ul>
        <ul>
          <li class="text-info" type="password">Enter Password: </li>
          <li><input name="rej_password" type="password" value="123456" required/></li>
        </ul>
        <ul>
          <li class="text-info">Re-enter Password:</li>
          <li><input name="re_password" type="password" value="123456" required/></li>
        </ul>
        <input type="submit" onclick="submitForm()" value="Register Now"></input>
        <p class="click">By clicking this button, you are agree to our <a href="#">Policy Terms and Conditions.</a></p>
      </form>
    </div>
  </div>
</div>
<!--5. foot start -->
<%include footer.ejs%>
</body>
</html>