<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sing Up</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="N-Air Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"
  />
  <script type="application/x-javascript">
    addEventListener("load", function() {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>
  <meta charset utf="8">
  <!--fonts-->
  <link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>

  <!--fonts-->
  <!--bootstrap-->
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <!--coustom css-->
  <link href="css/style.css" rel="stylesheet" type="text/css" />
  <!--shop-kart-js-->
  <script src="js/simpleCart.min.js"></script>
  <!--default-js-->
  <script src="js/jquery-2.1.4.min.js"></script>
  <!--bootstrap-js-->
  <script src="js/bootstrap.min.js"></script>
  <!--script-->
  <!-- FlexSlider -->
  <script src="js/imagezoom.js"></script>
  <script defer src="js/jquery.flexslider.js"></script>
  <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />

  <script>
    // Can also be used with $(document).ready()
    $(window).load(function() {
      $('.flexslider').flexslider({
        animation: "slide",
        controlNav: "thumbnails"
      });
    });

    function LogInsubmitForm() {
        let frm = $('#LogInForm');
        frm.unbind('submit').bind('submit', (function (e) {
            e.preventDefault();
            $.ajax({
                type:"POST",
                url:"/LogInControl",
                data:frm.serialize(),
                success: function (response) {
                        if(response.success){
                            //alert("Login success!");
                            $("#notice").html("Login Successfully")
                            window.location='http://localhost:3000/index'
                            //在这里定义一个session对象，将这个表格里的username，存到session里面

                        }else{
                            //alert("Login Fail! Pleas try again.");
                            $("#notice").html("Fail to log in!")
                            console.log("Fail to log in")
                        }
                }})
      
        }))
       
        }


  </script>
  <!-- //FlexSlider-->
</head>

<body>
  <%include header.ejs%>


    <div class="head-bread">
      <div class="container">
        <ol class="breadcrumb">
          <li><a href="/index">HOME</a></li>
          <li class="active">LOGIN</li>
        </ol>
      </div>
    </div>
    <!--signup-->
    <!-- login-page -->
    <div class="login">
      <div class="container">
        <div class="login-grids">
          <div class="col-md-6 log">
            <h3>Login</h3>
            <div class="strip"></div>
            <p id="notice">Welcome, please enter the following to continue.</p>

            <form id="LogInForm">
                <h5>User Name:</h5>
                <input type="text" id="u_name" name="u_name" required/>
                <h5>Password:</h5>
                <input type="password" id="u_password" name="u_password" required/><br>
                <input type="submit" value="Login" onclick="LogInsubmitForm()"/>
            </form>

            <a href="#"></a>
          </div>
          <div class="col-md-6 login-right">
            <h3>New Registration</h3>
            <div class="strip"></div>
            <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
            <a href="/register" class="button">Create An Account</a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <!-- //login-page -->
    <!--signup-->

    <!--5. foot start -->
    <%include footer.ejs%>
</body>

</html>
