<!DOCTYPE html>
<html>
<head>
  <title>Trade</title>
  <script src="./MyTrade.js"></script>
  <script src="./js/jquery-3.1.0.min.js"></script>
  <link href="./css/please-wait.css" rel="stylesheet">
  <link href="./css/spiner.css" rel="stylesheet">
</head>
<body>
  <h1>Trade Info</h1>


</body>
<script type="text/javascript" src="./js/please-wait.min.js"></script>
<script type="text/javascript">
  window.loading_screen = window.pleaseWait({
    logo: "./images/logo3.png",
    backgroundColor: '#000000',
    loadingHtml: '<div class="spinner"><div class="double-bounce1"></div><div class="double-bounce2"></div></div>'
  });
</script>

 
</html>